// Brand Primary and Secondary colors
$color-facebook-primary: #4267b2;
$color-facebook-secondary: #0a2a69;

$color-youtube-primary: #ff0000;
$color-youtube-secondary: #b30909;

$color-instagram-primary: #833ab4;
$color-instagram-secondary: #f77737;

$color-spotify-primary: #1db954;
$color-spotify-secondary: #039235;

$color-white-primary: #fff;
